# Core functionality - changes here should be rare!
/src/app.py                   @jemslzr
/src/backend/database.py      @jemslzr
/src/backend/routers/auth.py  @jemslzr

# The frontend will need refactored soon to be more object oriented.
/src/static/   @jemslzr
